/** @format */
$h-w: 40px;

$transform: skew(-20deg, 3deg);
// Street
$street-color: rgb(122, 122, 122);
$street-color-hover: rgb(54, 54, 54);
$building-color: blue;

$block-margin: 5px;
$after-absolut: 2px;
