/** @format */
@import "variables";
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: grey;
}
#city {
  transform: skew(-20deg, 3deg);
  margin: 0;
  width: 1159px;
}
#sea {
  transform: skew(-20deg, 3deg);
  background-color: aqua;
  height: 572px;
  width: 112px;
}
$h-w: 40px;

.building {
  width: $h-w;
  height: $h-w;
  position: relative;
  display: inline-block;
  background-color: black;
}
.building-img {
  width: $h-w + 15px;
  height: $h-w + 15px;
  top: -15px;
  left: -5px;
  position: absolute;
  transform: skew(20deg, -3deg);
}

.street,
.street-bombed {
  width: $h-w;
  height: $h-w;
  background-color: $street-color;
  background-image: url("../street-img.jpg");
  display: inline-block;
}

.street-bombed {
  background-image: url("../street-hole-img.jpg");
  background-position: center;
  background-size: cover;
}

.street:hover {
  width: $h-w;
  height: $h-w;
  background-color: $street-color-hover;
  display: inline-block;
  opacity: 0.7;
}
