/** @format */
@import "variables";
body {
  margin: 0;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}
.hide-button {
  display: none;
}
.hide-pop-up {
  display: none;
}
.pop-up {
  width: 100vw;
  height: 100vh;
  display: flex;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
}
.container-text {
  display: flex;
  flex-direction: row;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.normal-text {
  font-weight: 400;
  color: black;
}
#start-attack {
  width: 300px;
  height: 30px;
  background-color: rgb(255, 0, 0);
  color: white;
  position: absolute;
  bottom: 10px;
  right: 150px;
  // margin: 0;
}
.barricade-text,
.zombie-text {
  margin: 3px;
  font-size: 18px;
  font-weight: bold;
  margin-right: 15px;
}
.barricade-text {
  color: rgb(125, 63, 240);
}
.zombie-text {
  color: red;
}
#accept {
  margin: 3px;
}

#city {
  transform: $transform;
  margin: 0;
  width: 1159px;
}
#sea {
  transform: $transform;
  background-color: aqua;
  height: 572px;
  width: 112px;
}
.building,
.building::after,
.street,
.street-barricaded,
.street-barricaded::after,
.zombie {
  width: $h-w;
  height: $h-w - 10px;
  margin: $block-margin;
  display: inline-block;
}
.building {
  position: relative;
  background: blue;
}
.building::after {
  content: "";
  background: rgb(5, 129, 179);
  position: absolute;
  bottom: $after-absolut;
  right: $after-absolut;
}

.street,
.street-barricaded {
  background: rgb(0, 255, 200);
}

.street-barricaded {
  background: rgb(125, 63, 240);
  position: relative;
  transition-duration: 0.5s;
}

.street-barricaded::after {
  content: "";
  background: rgb(166, 129, 235);
  position: absolute;
  bottom: $after-absolut;
  right: $after-absolut;
  transition-duration: 0.3s;
}

.street:hover {
  background-color: $street-color-hover;
  opacity: 0.7;
}

.zombie {
  background-color: red;
}
